

.pad {
    height: 91%;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 5px;

    &:active {
        height: 87%;
    }

    &__depth {
        height: 96%;
        width: 100%;
        border-bottom: gray solid 1px;
        border-radius: 4px;
        background-color: pink;

        &:active {
            height: 100%;
            background-color: pink;
        }
    }
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25%;
}

