

.pad {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 5px;

    &:active {
        height: 96%;
    }

    &__depth {
        height: 96%;
        width: 100%;
        border-bottom: gray solid 1px;
        border-radius: 4px;
        background-color: pink;
        display: flex;
        align-items: center;
        justify-content: center;

        &:active {
            height: 100%;
            background-color: pink;
        }
    }

    &__audio {
        width: 100%;
        height: 100%;
    }
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25%;
}

.pad--active {
    height: 96%;
    background-color: red;
}

.pad__depth--active {
    height: 100%;
    border-bottom: gray solid 1px;
    border-radius: 4px;
}

